/* NAVBAR BASE */
.custom-navbar {
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  z-index: 999;
  padding:10px;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.brand-logo {
  height: 45px;
  width: 45px;
}

.nav-center {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* REMOVE ANY BULLETS FOR ALL */
.custom-drop,
.dropdown-menu,
.mobile-item {
  list-style: none !important;
}

/* DROPDOWN FIX */
.custom-drop {
  padding: 8px 0;
}

.dropdown-item {
  padding: 8px 20px;
  cursor: pointer;
  display: block;
  font-size: 16px;
}

.dropdown-item:hover {
  background: #f0f0f0;
}

/* MOBILE SIDE MENU */
.side-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 270px;
  height: 100vh;
  background: #ffffff;
  transition: 0.3s ease-in-out;
  z-index: 2000;
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.15);
}

.side-menu.open {
  right: 0;
}

.mobile-item {
  margin: 15px 0;
  font-size: 18px;
}

.menu-btn {
  font-size: 26px;
  background: none;
  border: none;
}

/* LINKS */
.nav-link {
  cursor: pointer;
  font-size: 17px;
}
