
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


.roboto-slab-uniquifier {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  padding: 20px;
}

.register-card {
  background: #fff;
  border-radius: 15px;
  padding: 40px 30px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  
}

.register-title {
  font-weight: 700;
  margin-bottom: 10px;
  color: #ff6b6b;
  text-align: center;
}

.register-subtitle {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 30px;
  text-align: center;
}

.register-btn {
  background: #ff6b6b;
  border: none;
  width: 100%;
  padding: 10px;
  font-weight: bold;
  border-radius: 50px;
  transition: 0.3s;
}

.register-btn:hover {
  background: #e85d5d;
}

.register-footer {
  margin-top: 20px;
  font-size: 0.85rem;
  text-align: center;
}

.register-footer a {
  color: #ff6b6b;
  text-decoration: none;
  font-weight: bold;
}

.register-footer a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .register-card {
    padding: 30px 20px;
  }
}
